# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# next.js & expo & build outputs
.next/
out/
build/
dist/
web-build/
expo-env.d.ts
tsconfig.tsbuildinfo
next-env.d.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.metro-health-check*

# system files
.DS_Store
*.pem
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# env files (NEVER commit these!)
.env
.env.local
.env*.local
.env.production
.env.development
.env.vercel.production
.env.vercel.production.local
.env.production.local
.env.development.local

# vercel & expo native
.vercel/
.expo/
ios/
android/
.kotlin/
.vscode/
.claude/

.vercel
